<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>

        <td mat-cell *matCellDef="let course">
            {{ course.id }}
        </td>
    </ng-container>

    <!-- Fullname Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>

        <td mat-cell *matCellDef="let course">
            {{ course.name }}
        </td>
    </ng-container>

    <!-- startDate Column -->
    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>

        <td mat-cell *matCellDef="let course">
            {{ course.startDate }}
        </td>
    </ng-container>

    <!-- endDate Column -->
    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de fin </th>

        <td mat-cell *matCellDef="let course">
            {{ course.endDate }}
        </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>

        <td mat-cell *matCellDef="let course">

            <button (click)="editCourse" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>

            <!-- <button (click)="editUser.emit(course)" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>

            <button (click)="goToUserDetail(course.id)" mat-icon-button color="primary">
                <mat-icon>info</mat-icon>
            </button>

            <button (click)="deleteUser.emit(course.id)" mat-icon-button color="warn">
                <mat-icon>backspace</mat-icon>
            </button> -->
            
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>