  <h2>Inscribir Usuario</h2>

  <form [formGroup]="enrollmentForm" (ngSubmit)="enrollUser()">
    <mat-form-field>
      <mat-label>Nombre del Estudiante</mat-label>
      <mat-select formControlName="userId">
        <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Inscripción a</mat-label>
      <mat-select formControlName="courseId">
        <mat-option *ngFor="let course of courses" [value]="course.id">{{ course.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="enrollmentForm.invalid && formSubmitted">Este usuario ya está inscrito en este curso.</mat-error>

    <button mat-button [mat-dialog-close]="null">Cancelar</button>
    <button mat-button type="submit" [disabled]="enrollmentForm.invalid">Agregar</button>
  </form>